*{
    box-sizing: border-box;
}
body{
    background-color: #83d2d7;
}
nav{
    width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    padding: 0px;
}
nav ul a{
    list-style: none;
    text-decoration: none;
    color: #d8f0f6;
    background-color: #40bdc3;
    padding: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
nav ul a:hover{
    background-color: white;
    color: black;
}
section{
    display: none;
}
section:target{
    display: inherit;
    background-color: white;
    margin-top: -16px;
}
