*{
    box-sizing: border-box;
}
#envoltorio{
    display: flex;
   flex-direction: row;
    justify-content: space-between;
    width: 75%;
}
body header{
    border: solid;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}
body header h1{
    font-size: 30px;
}

#envoltorio {
    margin: 0 auto;
}
#envoltorio .botones{
    padding-top: 20%; /*Cambiar esto cuando lo pongamos en el proyecto para que quede bien (con el porcentaje debería estar correcto)*/
    text-align: center;
    flex: 10% 0 0;
    width: 20%;
    border: solid;
    border-radius: 15px;
    flex-direction: column;
    margin: 15px;
}
#envoltorio .botones img{
    width: 90%;
}
#envoltorio main{
    flex: 20%, 1 1;
    border: solid;
    border-radius: 15px;
    text-align: center;
}
#envoltorio main img{
    width: 50%;
}
body footer{
    text-align: right;
    margin-top: 15px;
    border: solid;
    padding-right: 5%;
}

