fieldset{
    background-color: #8BA6A9;
    width: 25%;
    border: solid 2px;
}
div{
    margin-top: 4%;
    margin-bottom: 4%;
}
label{
    display: block;
    width: 33%;
}
input{
    display: block;
    width: 66%;
}
input:focus{
    color: #F7ECE1;
    background-color: #CACC90;
    border: solid 3px #75704E;
    outline: none;
}