table{
    width: 100%;
    border-collapse: collapse;
}
th{
    position: relative;
    height: 10px;
    background-color: white;
}
tr td div img{
    width: 30px;
}
tr:first-child th{
    position: relative;
    right: -35px;
    padding-left: 100px;
}
tr:first-child th:first-child{
    right: -50px;
}
tr:nth-child(2){
    border-top: solid red 5px;
    border-bottom: solid red 5px;
}
