*{
    box-sizing: border-box;
}
nav{
    width: 8%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
nav img{
    border: solid;
    transition: all 1s;
}
nav img:hover{
    background-color: black;
    height: 100px;
    padding: inherit;
}