
body{
    margin: 10px 100px;
}
form{
    width: 80%;
}
label{
    display: block;
}
#todo{
    font-size: 20px;
    border: solid 2.5px grey;
    display: flex;
    flex-wrap: wrap;
}
#todo fieldset{
    width: 85%;
}
fieldset{
    border: none;
    display: flex;
}
fieldset div{
    flex: 1 1 auto;
}
input{
    margin-top: 25px;
    height: 25px;
    width: 80%;
}
#nombre{
    width: 50%;
}
#nombre label{
    display: block;
}
.titulo{
    font-weight: bolder;
    font-size: 20px;
    width: auto;
    padding-top: 30px;
}
.requerido{
    color: red;
}
.division{
    display: flex;
}
.division div{
    width: 45%;
}
.division input{
    width: 80%;
}
.division .telefono{
    flex: 1 1 auto;
}
#alta{
    margin-left: 80%;
    width: 125px;
}