h1{
    color:red;
}
h1:hover+p{
    display: none;
}
h1+p{
    display: none;
}
h1:hover+p{
    display: inherit;
}
div{
    width: 25%;
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
}
div:hover{
    background-color: #fff;
    color: #000;

}
a{
    color: red;
}
a:visited{
    color: red;
}
div{
    color: black;
    width: 140px;
    height: 60px;
    background-image: url(fondodoble.png);
}
div:hover{
    background-position: bottom; /*Para que el fondo cambie por la imagen de abajo*/
    transition: all 1s;
}
div:target{
    background-color: red;
}
div:first-child{
    background-color: yellow;
}
div:first-of-type{
    background-color: green;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
nav ul a{
    background-color: green;
    flex: 1 1 auto;
    padding: 0.5%;
    text-align: center;
    border-right: solid red;
}
nav ul a:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
nav ul a:last-child{
    border-right: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
nav ul a:hover{
    background-color: red;
    color: green;
}
